html, body {
    margin: 0; /* Elimina márgenes por defecto */
    padding: 0; /* Elimina padding por defecto */
    width: 100%; /* Asegura que el body y html ocupen todo el ancho de la pantalla */
    position: relative; /* Necesario para que top y left funcionen */
  }
  
body {
    position: relative; 
    top: 0;
    left: 0;
}
  