@font-face {
  font-family: "Inter";
  src: url("/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

html, body {
    position: relative;
    font-size: 16px;
}

.header a{
  font-style: normal;
  color: black;
  text-decoration: none;
}

a:hover{
  color: grey;
}

body {
    position: relative; 
    top: 0;
    left: 0;
}
  